@import './searchModal.scss';
@import './cartPopup.scss';
@import './QuickViewModal.scss';
@import './sizeTableModal.scss';

.modal {
	z-index: var(--ui-index-7);

	position: fixed;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);

	width: 95%;
	max-width: 850px;

	background-color: #333A47;
	padding: 24px;

	&.search-modal {
	}

	&.quick-view-modal {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&.size-table-modal {
		z-index: var(--ui-index-9);

		top: 50%;
		transform: translate(-50%, -50%);
	}
}

// TODO сделать чтобы для всех элементов оканчивающися на - overlay было
.modal-overlay {
	z-index: var(--ui-index-6);

	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background: #16181b;

	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 0.6;
		visibility: visible;
	}

	// &--search {}

	// &--quick-view {}

	&--size-table {
		z-index: var(--ui-index-8);
	}
}