@import './searchModal.scss';
@import './cartPopup.scss';
@import './QuickViewModal.scss';
@import './sizeTableModal.scss';
@import './AuthModal.scss';

.modal {
	z-index: var(--ui-index-7);

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 95%;
	max-width: 850px;

	background-color: #333A47;
	padding: 24px;

	&.search-modal {
		top: 50px;
		transform: translate(-50%, 50px);
	}

	&.quick-view-modal {}

	&.size-table-modal {
		z-index: var(--ui-index-9);
	}

	&.auth-modal {}

	&__close {
		position: absolute;
		top: 24px;
		right: 24px;

		height: 24px;
		width: 24px;

		@media (max-width: em(590)) {
			top: 12px;
			right: 12px;
		}

		background-image: url(/img/icons/close.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}
}

// TODO сделать чтобы для всех элементов оканчивающися на - overlay было
.modal-overlay {
	z-index: var(--ui-index-6);

	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background: #16181b;

	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 0.6;
		visibility: visible;
	}

	// &--search {}

	// &--quick-view {}

	&--size-table {
		z-index: var(--ui-index-8);
	}

	&--auth {}
}