
//========================================================================================================================================================
.catalog-menu {
	z-index: var(--ui-index-4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;

}

.catalog-menu__aside {
	position: relative;

	width: 100%;
	min-height: 713px;

	padding: 24px;
	padding-top: 88px;

	background-color: #101828;
}

.catalog-menu__close {
	position: absolute;
	top: 90px;
	right: 24px;

	width: 24px;
	height: 24px;

	background-image: url(/img/icons/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.catalog-menu__title {
	font-size: 28px;
	font-weight: 700;
	color: #E8E9EA;

	margin-bottom: 32px;
}

.catalog-menu__list ul {
	top: 0;
	padding-left: 20px;
}

.catalog-menu__list__item {
	position: relative;
}

.catalog-menu__list__item:not(:last-child) {
	margin-bottom: 18px;
}

.catalog-menu__list__item__btn {
	font-size: 16px;
	color: #777C85;
}

.catalog__accordion__item__list__item {
	position: relative;
}

.catalog__accordion__item__list__item:first-child::before {
	content: '';
	position: absolute;
	left: -90px;
	top: 11px;

	width: 74px;
	height: 2px;

	// background-image: url(/img/menu-line-tiny.svg);
	// background-repeat: no-repeat;
	// background-position: center center;
}

.catalog__accordion__list {
	padding-top: 10px;
}

.catalog__accordion__list__item:not(:last-child) {
	margin-bottom: 10px;
}